<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ScaleConnection"
			 connectionString="Data Source=DESKTOP-ET4OTK6\SQLEXPRESS;Initial Catalog=ScaleImageTestdb;Trusted_connection = True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>